<p id="notice"><%= notice %></p>

<h1 class="top">Collections</h1>

<table>
  <thead>
    <tr>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody class="index">
    <% @collections.each do |collection| %>
      <tr>
	<td><%= link_to collection.name, collection %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collection', new_collection_path %>
