<p id="notice"><%= notice %></p>

<h1 class="top">Depositors</h1>

<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody class="index">
    <% @depositors.each do |depositor| %>
      <tr>
        <td><%= link_to depositor.name, depositor %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? %>
  <%= link_to 'New Depositor', new_depositor_path %>
<% end %>
