header {
  border-bottom: solid;
}

span.logo {
  font-family: "Times New Roman", Serif;
  font-size: xx-large;
  vertical-align: middle;
}

h1.top {
  text-align: center;
}

nav {

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    padding-left: 10%;
  }
}

tbody.index {

  td {
    padding: 5px;
  }
}
  
